streamlit==1.35.0
python-dotenv==1.0.1

openai==1.10.0

langchain==0.1.21
langchain-core==0.1.46
langchain-openai==0.1.8
langchain-community==0.2.10  # Dependabot対応済み

# Claude用（使わないなら削除可）
anthropic==0.25.7
langchain-anthropic==0.1.11

# Gemini用（使わないなら削除可）
google-generativeai==0.5.2
langchain-google-genai==0.0.9
